.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
}

.header-buttons {
}

.logo-title {
    font-family: 'Montez', cursive;
    font-size: 2.5em;
    color: blue;
}

.logo-text {
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    margin: 0px;
}

.button {
    margin-right: 5px;
    padding: 10px 20px 10px 20px;
    border-style: outset;
    border-color: white;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.header-button {
    background-color: blue;
    color: white;
    text-align: center;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid darkgray;
}

.modal-title {
    color: #707070;
    font-size: 1.3rem;
    margin: 0px 0px 5px 0px;
    font-family: sans-serif;
}
.btn-modal-close {
    font-size: 1.5em;
    color: #909090;
}
.modal-body {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: sans-serif
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
    font-family: sans-serif;
}
.modal-form-control {
    display: flex;
    height: calc(2.25rem + 2px);
    padding: 0px 0px 0px 5px;
    line-height: 1.5;
    background-color: #f1f1f1;
    border: 0px;
    margin-top: 5px;
    font-family: sans-serif;
}

.btn-modal {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s;
    margin: 20px 0px 10px 0px;
    border-style: none;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 10px;
}

.footer-title {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    margin-right: 5px;
}

.footer-link {
    color: blue;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-link:hover {
    cursor: pointer;
}


