
html {
    height: 100%;
}
body {
    background-image: url('../images/background.jpg');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}


.home-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-button {
    background-color: #cfb53c;
    color: black;
    text-align: center;
}

.modal-form-control-textarea {
    display: flex;
    line-height: 1.5;
    color: darkgray;
    background-color: #f1f1f1;
    border: 0px;
    margin-top: 5px;
    font-family: sans-serif;
    padding: 5px 0px 0px 5px;
    color: black;
    resize: vertical;
}

.btn-post {
    display: flex;
    align-self: center;
    width: fit-content;
    font-family: sans-serif;
    padding: 7px 40px 7px 40px;
}

.modal-post-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    padding: 20px;
    font-family: sans-serif;
}